$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$header-bg-color: var(--header-bg-color);
$button-color: var(--button-color);

.site-header {
  background-color: $header-bg-color !important;
}

.team {
  padding: 50px 0 50px;
  background-color: $primary-color;
  color: white;

  .sec__head {
    margin-bottom: 59px;

    .sec__head--title {
      color: $primary-color;
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      .sec__head--title-arc {
        flex: 1;
        margin-left: 36px;
        height: 1px;
        display: block;
        background-color: #Fff;
      }
    }

    .sec__head--headline {
      font-size: 15pt;
      line-height: 1.4;
    }
  }

  .team__cards .member {
    text-align: center;
    margin-bottom: 30px;

    .member__image {
      max-width: 180px;
      width: 100%;
      margin: 0 auto 15px;
      overflow: hidden;
      border: 7px solid #D3D7E3;
      border-radius: 50%;

      img {
        width: 100%;
        height: initial;
      }
    }

    .member__title {
      font-size: 11pt;
      line-height: 1.2;
      color: #FFC30F;
      text-transform: uppercase;
    }

    .member__designation {
      font-weight: 400;
      color: white;
      text-transform: uppercase;
      font-size: 11pt;
      line-height: 1.2;
    }
  }
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;

  &:hover {
    background-color: #333;
  }
}

.dropdown:hover .dropdown-menu {
  display: block !important;
}

.dropdown-menu {
  background-color: #30303B;
}

.contact__us {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right calc(100%);
}

.contact__us .inner {
  position: relative;
  z-index: 1;
  min-height: auto;
  display: flex;
  flex-direction: column;
  padding: 50px 0 50px;
}

.contact__us .section__heading {
  font-size: 22pt;
  line-height: 1.4;
  color: #fff;
  max-width: 570px;
  width: 100%;
  margin-bottom: 50px;
}

.contact__us--form--content {
  margin-top: auto !important;

  .single:first-child {
    background-color: $secondary-color !important;
  }

  .single:last-child {
    background-color: #D9D9D9;
  }

  .form__field {
    width: 100%;
    border: none;
    outline: none;
    min-height: 40px;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 12pt;
    line-height: 1.4;
  }
}

.contact__us--text {
  color: #fff;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 65px 0 50px;

  .mail__image {
    width: 235px;
    height: 235px;
    margin: 0 auto 15px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .description {
    font-size: 18.4pt;
    line-height: 1.4;
  }
}

.contact__us:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(54, 54, 66, 0.6);
}

/* About Banner */
.about__banner {
  min-height: 300px;

  h2 {
    font-size: 17pt;
    max-width: 600px !important;
    text-shadow: 0px 1px 1px #000;
    filter: none !important;
  }

  @media (min-width: 768px) {
    min-height: 600px !important;

    h2 {
      font-size: 36pt !important;
    }
  }

  @media (max-width: 800px) {
    max-height: 300px !important;
  }
}

.services {
  padding: 117px 0 177px;

  .services__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 27px;
    grid-row-gap: 40px;
    margin: 0 auto;
    padding: 0 15px;

    .service {
      position: relative;

      .service__title {
        top: -32px;
        bottom: auto;

        h3 {
          font-size: 14pt;
          line-height: 1.4;
          background-color: var(--primary-color);
          color: #fff;
          text-transform: capitalize;
          min-height: 50px;
          padding: 5px 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 15px;
          min-width: 200px;
          text-align: center;
        }
      }
    }
  }
}
footer{
  background-color: var(--secondary-color);
}
.footer__bottom p {
  color: #ffffff;
}

.footer__top {
  border-bottom: 1px solid #ffffff;
}


.video__gallery,
.testimonials {
  background-color: $secondary-color !important;
  padding: 50px 0 0;
  color: white;

  .sec__head {
    margin-bottom: 59px;

    .sec__head--title {
      color: #fff;
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      .sec__head--title-arc {
        flex: 1;
        margin-left: 36px;
        height: 1px;
        display: block;
        background-color: #D3D7E3;
      }
    }

    h2 {
      font-size: 13.5pt;
      line-height: 1.4;
      text-transform: uppercase;
      font-weight: 400;
    }
  }

  .swiper-slide .testimonial__card {
    transition: 0.3s all ease;

    @media (min-width: 1200px) {
      transform: scale(0.8);
    }

    @media (min-width: 576px) {
      transform: scale(0.7);
      opacity: 0.6;
    }
  }

}
